:root{
    --succes-color:rgb(82, 238, 82);
    --error-color: red; 
    --body-color :azure;
    --form-color :lightblue;
}
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
body a{
    text-decoration: none;
    color: white;
}
nav.navbar{
    width: 100%;
    background-color: #D6E4E5;
}
#mainPage{
    display: flex;
    flex-direction: row;
}
#cardData{
    max-height: 50%;
}
#aside{
    background-color:#CDF0EA;
    height: 100vh;
    width: 13vw;
} 

#logo{
    width: 40px ;
    height: 40px;
    border-radius: 80%;
}
.list{
    list-style: none;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.list a{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #285e61;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
}
.list a:hover{
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}
#signUp12{
    text-decoration: none;
    cursor: pointer;
}
.form-control.error input{
    border-color: var(--error-color);
}
.form-control.success input{
    border: 2px solid;
    border-color: var(--succes-color);
}
.form-control small{
    color:var(--error-color);
    visibility: hidden;
    font-size: 0.5rem;
}
.form-control.error small{
    visibility: visible;
}
#signInForm{
    margin-top: 5rem;
    padding: 2rem; 
    border: 2px solid lightgray;
}
#singUp12{
    cursor: pointer;
}
#form, #signInForm{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 0.9;
}
#signInForm:hover, #form:hover{
    transform: translateY(-6px) scale(1) translateZ(0);
    opacity: 1.2;
    font-weight:500 ;
}
#signInForm{
    width: 25vw;
}
.card:hover{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(8, 7, 7, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.card{
    transition: transform 1s;
}
.card:hover{
    transform: translateY(15px) scale(1.005) translateZ(0);
}
.card img {
    opacity: .8;
    transition: .5s;
}
.card:hover img {
    transition: all .2s ease-in-out;
    transition-delay: .5s;
    opacity: 1.5;
    transform: translateY(4%);
}
.card-body ul li:hover{
    border-radius: 10px;
    font-size: 1.1rem;
    background-color:#EFF5F5;
}
#menu{
    display: none;
}
#mainDiv{
    width: 90%;
    max-height: 100vh;
    overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
    #aside{
        width: 100%;
        text-align: center;
        height: 5vh;
    }
    #mainPage{
        display: flex;
        flex-direction: column;
    }
    .mx-5.card.mt-2{
        margin-left: 0 !important;
    }
    #mainDiv{
        width: 100%;
    }
    .fa-solid{
        font-size: larger;
    }
    #side{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .fa-solid.fa-right-from-bracket{
        float: right;
    }
    .list strong{
        display: none;
    }
    #profileHolder{
        display: none;
    }
    nav.navbar{
        display: flex ;
        justify-content: center;
    }
    main{
        width: 100vh;
        display: flex;
        flex: row;
        justify-content: space-around;
    }
    #profileSection{
        width: 90%;
    }
    #profileSection i{
        display: none;
    }
}

@media screen and (max-width: 724px) {
    #aside{
        width: 100%;
        height: 10vh;
    }#mainDiv{
        display: flex;
        flex-direction: row-reverse;
    }
    .d-flex.dashboard{
        display: flex ;
        flex-direction: column;
        align-items: center;
    }
    .mx-5.card.mt-2{
        margin-left: 0 !important;
    }
    .fa-solid{
        font-size: larger;
    }
    #side{
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #profileSection{
        width: 100%;
    }
    .mx-5.card.mt-2{
        margin-top: 20px;
    }

    .container-xxl{
        width: 100vw;
        text-align: center;
    }
}





